spring:
  application:
    name: product-demo
  main:
    banner-mode: "OFF"
    cloud-platform: kubernetes
  lifecycle:
    timeout-per-shutdown-phase: 20s
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DBNAME:postgres}
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${POSTGRES_CONNECTIONS_MAX_POOL_SIZE:2}
  data:
    web:
      pageable:
        max-page-size: 10000
  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: false
    open-in-view: false
    properties:
      javax:
        persistence:
          validation:
            mode: none
      hibernate:
        jdbc:
          time_zone: UTC
          batch_size: 100
        temp:
          use_jdbc_metadata_defaults: false
    hibernate:
      ddl-auto: none
  flyway:
    out-of-order: true

  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: ${spring.application.name}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: '*'


server:
  error:
    include-stacktrace: never
  max-http-header-size: '128KB'
  shutdown: graceful
  port: 8080

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: 'prometheus,metrics,info,health,startup'
  endpoint:
    health:
      probes:
        enabled: true

feign:
  autoconfiguration:
    jackson:
      enabled: true
  client:
    config:
      default:
        connectTimeout: 10000
        readTimeout: 10000
#      auth-service:
#        url: ${AUTH_SERVICE_URL:}
#      vehicle-service:
#        url: ${VEHICLE_SERVICE_URL:}

#logging:
#  config: classpath:logback.xml

logging:
  level:
    org.springframework: debug


app:
  algorithmPassword: SHA-256
  accessToken:
    ttl: 15m
  refreshToken:
    ttl: 24h
  kafka:
    topic:
      products-changed: products.changed




